body {
	background-color: lightgray;
	font-size: 12px;
}

.button-validation {
	background-color: #283E56;
}
.button-validation:hover {
	background-color: #1989AC;
}

.button-validation-admin {
	background-color: #283E56;
	width: 90%;
	font-size: 12px;
	padding: 0px;
}
.button-validation-admin:hover {
	background-color: #1989AC;
}

.card-error {
	background-color: #e53935;
	color: white;
	margin-top: 20px;
}

.card-success {
	background-color: #43a047;
	color: white;
	margin-top: 20px;
}