body {
	background-color: #F4F4F4;
}

.card {
	padding: 20px;
}
.nav-extended {
	background-color: #970747;
}

.button-validation-menu {
	background-color: #283E56;
	font-size: 12px;
}
.button-validation-menu:hover {
	background-color: #1989AC;
}

img {
	height: 20px;
	padding: 0 8px;
}

.card-error {
	background-color: #e53935;
	color: white;
	margin-top: 20px;
}

.card-success {
	background-color: #43a047;
	color: white;
	margin-top: 20px;
}