body {
	background-color: #F4F4F4;
}

.formulaire-card {
	margin-top: 75px;
	padding: 35px 0 0 0;
}

	.input-field label {
		color: #000;
	}
	.input-field input[type=text]:focus + label {
		color: #000;
	}
	.input-field input[type=text]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}